<?xml version="1.0" encoding="utf-8"?>
<!--NephroThai or Center-->
<!--database config-->
<configs>
  <location>2</location>
  <path>\\192.168.210.15\data\TRT\11527-01\TRTSystem3.3.0.0\Database</path>
  <filename>0467TRTDatabase.mdb</filename>
  <centerid>0467</centerid>
  <centername>บริษัท ทำนุรัฐไตเทียม จำกัด(ร.พ.ค่ายเสนาณรงค์)</centername>
</configs>