<?xml version="1.0" encoding="utf-8"?>
<!--NephroThai or Center-->
<!--database config-->
<configs>
  <location>2</location>
  <path>D:\11527-01\0467TRTSystem3.4.0.0\Database</path>
  <filename>0467TRTDatabase.mdb</filename>
  <centerid>0467</centerid>
  <centername>หน่วยไตเทียม โรงพยาบาลค่ายเสนาณรงค์ (ราชพฤกษ์ไตเทียม)</centername>
</configs>